* {
    margin: 0;
    padding: 0;
  }
  
  .section {
    position: relative;
  }
  
  body {
    font-weight: 400;
  }
  
  body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
  }
  
  .section header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  section header h2 {
    font-weight: 700;
    font-size: 2.571em;
    color: #01579B;
    text-align: center;
  }
  
  h2 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  
  .post-content {
    font-size: 1.125em;
    line-height: 1.6;
  }

  .margin-body{
      margin-right: 5%;
      margin-left: 5%;
  }

  .liclass {
    font-size: 14px;
  }

  .olclass {
    margin-left: -30px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .tdku{
    padding: 10px;
  }
